@font-face {
  font-family: 'TT Commons Light';
  font-style: normal;
  font-weight: normal;
  src: local('./templates/fonts/TT Commons Light'), url('./templates/fonts/TT Commons Light.woff') format('woff');
}
