// =============================================================================
// FONTS
// =============================================================================
$font: 			        "Montserrat", Arial, sans-serif;
$font-secondary: 		"Playfair Display", Arial, sans-serif;
$font-other: 		"TT Commons Light", Arial, sans-serif;



// =============================================================================
// COLORS
// =============================================================================
$green                 : #7ac943;
$white                  : #fff;
$greentxt               : #025f13;